.dart_tool/
.packages
.pub-cache/
build/
*.iml
.idea/
.vscode/
.flutter-plugins-dependencies
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
android/local.properties
.env
*.jks
*.keystore
